@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// MEDIA
@mixin screen-down($size) {
  @media all and (max-width: $size) {
    @content;
  }
}

@mixin screen-up($size) {
  @media all and (min-width: $size) {
    @content;
  }
}
