$color-primary-light: #fefeff;
$color-primary-light-65: #fefeff65;
$color-primary-dark: #414f6b;
$color-primary-dark-text: #63769d;
$color-primary-dark-99: #414f6b99;
$color-black: #000;

$color-logo-dark: #4d4d4d;
$color-logo-light: #414f6b;

$max-width: 96rem; /* 960px */

$xxl-screen: 119.9875em; /* 1920px -0.2px */
$xl-screen: 74.9875em; /* 1200px -0.2px */
$lg-screen: 61.9875em; /* 992px -0.2px */
$md-screen: 47.9875em; /* 768px -0.2px */
$sm-screen: 35.9875em; /* 576px -0.2px */
$xs-screen: 20em; /* 320px */
